.MovieItem
    transition: all 0.4s ease-in-out 0s
    width : 15em
    background-color: #111
    margin-top: 1em
    box-shadow : 1px 1px 2px black
    border-radius: 4px
    position: relative
    color : white
    img
        width: 100%
    div
        padding: 0.3em
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height : 6em
        h3
            font-size: 1.5em
            text-align: center
            font-weight: 500
        p
            font-size: 1em
            text-align: center
.MovieItem:hover
    cursor: pointer
    opacity: 0.7
    background-color: black
    color : white
    transform: translate(0, -0.5em)
