.SearchBar
    display: flex
    flex-direction: row wrap
    justify-content: space-around
    box-sizing: border-box

    input[type=text]
        border-radius : 0 4px 4px 0
        border: 1px solid black
        height: 1.8em
        width: 100%
        font-size: 1em
        box-shadow: 1px 1px 2px black
        box-sizing: border-box
        outline: none
        padding-left: 0.3em
    input[type=text]:focus
        background-color: rgba(230, 230, 230, 1)
    .Button
        height: 1.8em
    .SearchBarMoreButton
        padding: 0 5px
        position: relative
        border-radius : 4px 0 0 4px
        img
            width : 6px
            height: 1.8em
            margin: auto
        