table, thead, tbody, tfoot, tr, th, td
    border : 1px solid #6b6b6b
table 
    border-radius: 4px
    background-color: #333333
    color : white
    thead 
        background-color: #383838
        tr 
            &.sortable
                &:hover 
                    cursor: pointer
                th, td 
                    padding-bottom: 1em
                    position: relative
                    vertical-align: align
                    &:hover::after
                            width: 100%
                            content : '^'
                            position: absolute
                            bottom: 0
                            height: 12px
                            left: 0
                            text-align: center
                    &:active
                        opacity: 0.8

                        
            th
                background-color: #575757
            td
                background-color: #383838
td, th
    padding: 3px
